body{
    background-color: black;
    color: #555;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: normal;
    /*same as above*/
    font: normal 16px Arial, sans-serif;

    line-height:1.6em;
    margin:0;
}
.container{
    width:80%;
    margin:auto;
}
.box-1{
    background-color: #333;
    color:#fff;
    border: 5px red solid;

    padding-top:20px;
}